question: 
Given a list of integers and an integer variable K, write a Python program to find 
all pairs in the list with given sum K.
Input : lst =[1, 5, 3, 7, 9]
        K = 12
Output : [(5, 7), (3, 9)]

Input : lst = [2, 1, 5, 7, -1, 4]
        K = 6
Output : [(2, 4), (1, 5), (7, -1)]

In [1]:
from itertools import combinations

In [19]:
def findpairs(lst,k):
    for pair in combinations(lst,2):
        if sum(pair)==k:
            print(pair,k)

In [23]:
findpairs([1,5,3,7,9],12)

(5, 7) 12
(3, 9) 12

In [29]:
## Python code explaning min() and max() 
l = [{'name':'ramu', 'score':90, 'age':24}, 
     {'name':'golu', 'score':70, 'age':19}]

In [30]:
print(max(l,key = lambda items:items.get('age')))

{'name': 'ramu', 'score': 90, 'age': 24}

In [31]:
print(min(l,key = lambda items : items.get('age')))

{'name': 'golu', 'score': 70, 'age': 19}

# Python | Convert list of tuples into list

In [43]:
lt = [('Geeks', 2), ('For', 4), ('geek', '6')]

In [45]:
for t in lt:
    print(t)

('Geeks', 2)
('For', 4)
('geek', '6')

In [58]:
result=[]
for t in lt:
    for x in t:
        result.append(x)

In [59]:
result

['Geeks', 2, 'For', 4, 'geek', '6']

In [ ]:
#Python program to check if a given string is Keyword or not

In [60]:
import keyword

In [61]:
keyword_list = keyword.kwlist

In [81]:
#keyword_list

In [63]:
print("No. of keywords are persent:",len(keyword_list))

No. of keywords are persent: 33

In [79]:
import keyword

def iskeyword(word):
    keyword_list = keyword.kwlist
    
    if word in keyword_list:
        return "Yes"
    else:
        return "No"
    
if __name__ == '__main__':
    print(iskeyword("geek"))
    print(iskeyword("import"))

No
Yes

In [80]:
iskeyword("import")

'Yes'

In [ ]:
#Python | Find most frequent element in a list

In [ ]:
Input : [2, 1, 2, 2, 1, 3]
Output : 2

Input : ['Dog', 'Cat', 'Dog']
Output : Dog

In [107]:
def most_frequent(List):
    return(max (set(List),key=List.count))

List = ['Dog', 'Cat', 'Dog']
most_frequent(List)

'Dog'

In [ ]:
#Formatting integer column of Dataframe in Pandas

In [110]:
import pandas as pd

In [111]:
data = {'Month' : ['January', 'February', 'March', 'April'], 
     'Expense': [ 21525220.653, 31125840.875, 23135428.768, 56245263.942]}

In [121]:
Data=pd.DataFrame(data)

In [126]:
pd.options.display.float_format = '{:,.2f}' .format

In [125]:
Data

         Expense     Month
0 21,525,220.653   January
1 31,125,840.875  February
2 23,135,428.768     March
3 56,245,263.942     April

In [127]:
#Boolean Indexing in Pandas

In [128]:
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"], 
        'degree': ["MBA", "BCA", "M.Tech", "MBA"], 
        'score':[90, 40, 80, 98]}

In [132]:
df = pd.DataFrame(dict,index=[True,True,False,True])

In [133]:
df

       degree    name  score
True      MBA  aparna     90
True      BCA  pankaj     40
False  M.Tech  sudhir     80
True      MBA   Geeku     98

In [135]:
df.loc[True]

     degree    name  score
True    MBA  aparna     90
True    BCA  pankaj     40
True    MBA   Geeku     98

In [146]:
df.iloc[2]

degree    M.Tech
name      sudhir
score         80
dtype: object

In [147]:
df.ix[True]

/home/amitkumarmakhija/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

     degree    name  score
True    MBA  aparna     90
True    BCA  pankaj     40
True    MBA   Geeku     98

In [148]:
df.ix[1]

degree       BCA
name      pankaj
score         40
Name: True, dtype: object

In [152]:
# 10 Interesting Python Cool Tricks

In [161]:
# It returns multiple value
def number():
    x = 1
    y= 2
    return x,y
x,y = number()
print(x,y)

1 2

In [162]:
#Allows Negative Indexing:
List = ['Geeks','Python','Coding']
List[-1]

'Coding'

In [166]:
#Combining Multiple Strings
Strings = ' '.join(List)
Strings

'Geeks Python Coding'

In [173]:
#swapping is as easy as none.
x = 1
y = 2
print("Before swaping",x,y)
(x,y)=(y,x)
print("After swaping",x,y)

Before swaping 1 2
After swaping 2 1

In [175]:
#Want to create file server in Python
python -m SimpleHTTPServer # default port 8080

In [179]:
#Want to know about Python version you are using.
import sys
print('My python version is {}'.format(sys.version))

My python version is 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 18:10:19)
[GCC 7.2.0]

In [186]:
#Store all values of List in new separate variables
a = [1,2,3]
x,y,z = a
print(x)
print(y)
print(z)

1
2
3

In [188]:
#Convert nested list into one list, just by using Itertools one line of code.
import itertools
a = [[1,2,3],[5,6,7],[8,9,10]]
print(list(itertools.chain.from_iterable(a)))

[1, 2, 3, 5, 6, 7, 8, 9, 10]

In [200]:
#Want to transpose a Matrix
matrix = [[1, 2, 3], [4, 5, 6]] 
print(zip(*matrix))

<zip object at 0x7fa735c4af48>

In [201]:
#Want to declare some small function, but not using conventional way of declaring. Use lambda. The lambda keyword in python provides shortcut for 
#declare anonymous function

In [203]:
add = lambda x,y: x+y
add(2,3)

5

In [210]:
#Taking multiple inputs from user in Python

In [216]:
x,y = input("take two input:").split()
print("The value of x",x)
print("The value of y",y)

take two input:1 2
The value of x 1
The value of y 2

In [221]:
x,y,z = [int(x) for x in input("Enter three inputs").split()]
print("The value of x",x)
print("The value of y",y)
print("The value of z",z)

Enter three inputs1 2 3
The value of x 1
The value of y 2
The value of z 3

In [230]:
#operator_overloading

class A:
    def __init__(self,a):
        self.a = a
        
    def __add__(self,o):
        
        return self.a + o.a
        
ob1 = A(1)
ob2 = A(2)
ob3 = A("Geeks")
ob4 = A(" For Geeks")
print( ob1 + ob2)
print( ob3 + ob4)

3
Geeks For Geeks

In [236]:
#Logic gates

def AND(a,b):
    if a == b:
        return True
    else:
        return False

if __name__ == "__main__":
    print(AND(1,1))
    print(AND(1,0))

True
False

In [233]:
AND(1,0)

False

In [238]:
#namespace

var1 =10   #var1 is in global namespace
def some_fun():
    var2 =20      # var2 is in local namespace
    def other_fun():
        var3 = 30   #var3 is in nested local namespace

In [239]:
#Python | Remove empty strings from list of strings

In [262]:
test_list = ["", "GeeksforGeeks", "", "is", "best", ""] 
#test_list.remove("")
while ("" in test_list):
    test_list.remove("")
    print(str(test_list))

['GeeksforGeeks', '', 'is', 'best', '']
['GeeksforGeeks', 'is', 'best', '']
['GeeksforGeeks', 'is', 'best']

In [260]:
#test_list

['GeeksforGeeks', '', 'is', 'best', '']
['GeeksforGeeks', 'is', 'best', '']
['GeeksforGeeks', 'is', 'best']

In [3]:
# A Python program to demonstrate working of OrderedDict 
from collections import OrderedDict 

print("This is a Dict:\n") 
d = {} 
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4

for key, value in d.items(): 
    print(key, value)

This is a Dict:

a 1
b 2
c 3
d 4

In [4]:
print("\nThis is an Ordered Dict:\n") 
od = OrderedDict() 
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4

for key, value in od.items(): 
    print(key, value)

This is an Ordered Dict:

a 1
b 2
c 3
d 4

In [1]:
#Convert into binary

In [16]:
n = int(input('Enter a number'))
if (n > 1):
    binary_number = n//2
print(binary_number%2)

Enter a number6
1

In [ ]:
Floor Division(//)
Divides and returns the integer value of the quotient. It dumps the digits after the decimal.

>>> 3//4
>>> 4//3
Output: 1

In [52]:
count = 0
def DecimaltoBinary(n):
    if(n>1):
        DecimaltoBinary(n//2)
    count = +1
    print(n%2,end ='') 
    print(count)

In [53]:
if __name__== '__main__':
    DecimaltoBinary(8)

11
01
01
01

In [55]:
iterator = int(input())
count = 0
while iterator != 0:
    iterator = iterator&(iterator-1)
    count += 1
    print(count)

6
1
2

In [57]:
t_cases = [2,6,8]

In [60]:
for i in range(0,8):
    num = int(input())
    count = 0
    while(num > 0):
        if(num % 2 == 1):
            count += 1
        num = num / 2
    print(count)

7
1

KeyboardInterrupt:

In [78]:
n = int(input())
m = bin(n)
print(type(m))
print(m)
print(m.count('1'))

2
<class 'str'>
0b10
1

In [75]:
t = int(raw_input())
for a0 in xrange(t):
    n = int(raw_input())
    m = bin(n)
    print(m)

NameError: name 'raw_input' is not defined

In [83]:
number = int(input())
binary_num = bin(number)[2:]
print(binary_num)
print(len(binary_num))

100
1100100
7

In [ ]:
binary_num.split()